.yours-details-modal .ant-modal-content {
  height: auto !important;
  /* width: 85% !important; */
  /* width:40vw; */
  /* left: 10% !important; */
  box-shadow: 0.2px 10px 15px 0 rgba(4, 12, 38, 0.36);
  background: #00143d !important;
}
.yours-details-modal .anticon svg {
  color: #ffffff !important;
}
.message-modal .ant-modal-content {
  height: auto !important;
  /* width: 30vw; */
  /* width: 85% !important; */
  /* left: 75% !important; */
  box-shadow: 0.2px 10px 15px 0 rgba(4, 12, 38, 0.7);
  background-color: #142f6a;
  margin-top: 20%;
}
.message-modal .anticon svg {
  color: #ffffff !important;
}
.member-one-text {
  width: 94%;
  border-bottom: 1px solid #00143d;
}
.member-one-text:hover {
  border-left: 3px solid #fce719;
  background-color: #183673;
}
.member-btn {
  border-radius: 15px;
  background-color: #112a5e;
}
.pos-abs {
  position: absolute;
  z-index: 9999;
}
.all-none {
  border: none !important;
  /* background: none !important; */
  outline: none !important;
}
/* .date-input {
  color: #ffffff;
  text-transform: uppercase;
} */
/* .all-none::placeholder {
  font-size: 10px;
  color: #ffffff;
} */
.type-file {
  color: #11e32f !important;
}
.details-text {
  border-radius: 15px;
  border: solid 2px rgba(54, 60, 72, 0.5);
  background-color: #1e3d7e;
}
.viewid-text {
  background-color: #00143d;
  color: #fce719 !important;
  border-radius: 15px;
}
.package-amount-text {
  border-radius: 15px;
  background-color: #1e3d7e;
}
.neft-div {
  border-radius: 5px;
  background-color: #112a5e;
}
.pad-lr-8px {
  padding: 3px 8px;
}
.display-none {
  display: none;
}
.congrats-img {
  width: 50%;
  height: 25vh;
}
.message-text-div {
  border-radius: 15px;
  border: solid 2px rgba(255, 255, 255, 0.08);
  background-color: #112a5e;
}
.download-icon {
  color: #fce71a;
  font-size: 20px;
}
.download-icon-div {
  height: 25px;
  width: 25px;
  background-color: #112a5e;
  box-shadow: 0.2px 10px 15px 0 rgba(4, 12, 38, 0.7);
  color: #fce71a;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
}
.your-details-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.middle-line-clr {
  flex: 1;
  border-bottom: 1px dashed #496bb2;
}
.active-line-clr {
  flex: 1;
  border-bottom: 1px dashed #fce719;
}
.payment-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #496bb2;
  background-color: #112a5e;
}
.active-payment-icon {
  color: #fce719 !important;
  border: solid 1px #fce719 !important;
}
.login-btn {
  padding: 7px;
  /* width: 100%; */
  /* font-size: 12px; */
  font-weight: 600;
  color: #00143d;
  border-radius: 5px;
  border: none;
  background: #fce719;
  text-align: center;
}
