body {
  margin-top: 20px;
}
.avatar {
  width: 200px;
  height: 200px;
}
.form-control {
  background-color: #0c123e !important;
  color: #ffffff !important;
  outline: none !important;
  border-color: none !important;
}
