.active-button {
  border-radius: 8px;
  background-color: #fce719;
}
.deactive-button {
  border-radius: 8px;
  background-color: #112a5e;
}
.date-container {
  width: 35%;
  border: solid 2px rgba(54, 60, 72, 0.5);
  background-color: #112a5e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
}
.active-report-button {
  border-radius: 10px;
  border: solid 2px yellow;
  background-color: #112a5e;
  color: white;
  height: 20px;
  padding: 5px;
}
.deactive-report-button {
  border-radius: 10px;
  border: solid 2px rgba(54, 60, 72, 0.5);
  background-color: #112a5e;
  color: white;
  height: 20px;
  padding: 5px;
}
.hr-line-opacity {
border: 1px solid rgba(255, 255, 255, 0.1);
}
