.container {
  max-width: 2560px;
  margin: auto;
}
img {
  max-width: 100%;
}
.inbox_people {
  background: #2b2c40 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%;
}
.inbox_msg {
  /* border: 1px solid #c4c4c4; */
  clear: both;
  overflow: hidden;
  /* height: 75vh; */
}
.top_spac {
  margin: 20px 0 0;
}
.recent_heading {
  float: left;
  width: 40%;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  /* padding: ; */
}
.headind_srch {
  padding: 5px 10px 5px 10px;
  overflow: hidden;
}
.h-30px {
  height: 30px !important;
}
.recent_heading h4 {
  color: #cbcbe2;
  font-size: 15px;
}
.srch_bar input {
  color: #ffffff;
  border: none;
  width: 100%;
  background: #33344c;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #cbcbe2;
  margin: 0 0 8px 0;
}
.chat_ib h5 span {
  font-size: 13px;
  float: right;
}
.chat_ib p {
  font-size: 14px;
  color: #ffffff;
  /* margin: auto; */
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}
.chat_list {
  margin: 0;
  padding: 16px 10px 10px 16px;
}
.hr-chat {
  border: 1px solid #c4c4c4;
  opacity: 0.2;
}
.inbox_chat {
  height: 300px;
  overflow-y: scroll;
}
.inbox_chat::-webkit-scrollbar {
  display: none;
}
.inbox-chat-contacts::-webkit-scrollbar {
  display: none;
}
.inbox-chat-contacts {
  height: 265px;
  overflow-y: scroll;
}
.chat-container-box {
  height: 10vh !important;
  background-color: #2b2c40;
}
.inbox_people .active_chat {
  background: #132e67;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background-color: #082051;
  /* background: #33344c none repeat scroll 0 0; */
  border-radius: 10px;
  color: #cbcbe2;
  font-size: 14px;
  margin: 0;
  padding: 7px 10px 7px 12px;
  width: 100%;
}
.time_date {
  color: #cdd5e5;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  width: 57%;
}
.mesgs {
  float: left;
  width: 70%;
}
.sent_msg p {
  background-color: #03aa50 !important;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 7px 10px 7px 12px;
  width: 100%;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  border-radius: 18px;
  background-color: #132e67;
  border: none;
  color: #ffffff;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  /* border-top: 1px solid #c4c4c4; */
  position: relative;
}
.msg_send_btn {
  border: none;
  background-color: #33344c;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
  background-color: #03aa50;
}
.messaging {
  padding: 0 0 50px 0;
}
.h-20px {
  height: 20px !important;
}
.msg_history {
  height: 67vh;
  overflow-y: auto;
}
.msg_history::-webkit-scrollbar {
  display: none;
}
.clr-cornflower {
  color: #696cff;
}
.bg-clr-chat {
  background-color: #33344c !important;
}
.clr-green {
  color: #71dd37 !important;
}
.clr-red-bg {
  background-color: red !important;
}
.header-bg {
  background-color: #082051;
}
.active-chat-bg {
  background-color: #132e67;
}
.contacts-bg {
  border: solid 1px #132e67;
  background-color: #082051;
}
.w-80 {
  width: 90% !important;
}
.custom-search-bar {
  border-radius: 8px !important;
  background-color: #132e67 !important;
}
.clr-green {
  color: #10fe4e !important;
}

.encrpt-msg-bg {
  border: solid 1px #132e67;
  background-color: #082051;
}
.button-chat {
  font-size: 25px !important;
  background-color: #132e67;
}
.header-img-indvdual {
  margin-right: -50px !important;
  overflow: hidden;
  z-index: 999999;
  border: 1px solid #082051;
}
.border-none {
  border: none !important;
}
.h-8vh {
  height: 8vh !important;
}
