.login-inputs {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
}
.login-inputs::placeholder {
  font-size: 12px;
  color: #c9d6f0 !important;
  font-family: "Barlow-Regular";
}
.date-container {
  width: 15vw;
  height: 50px;
  border-radius: 8px;
  background-color: #112a5e;
}
.submit-button {
  background-color: yellow;
  color: black;
  width: auto;
  height: auto;
  border-radius: 5px;
}
.history-status-approve-button {
  background-color: #04c85e;
  color: green;
  width: 60%;
}
.history-status-reject-button {
    background-color: #ae0909;
    color: red;
    width: 60%;
  }
.statement-container {
  width: 20vw;
  height: 7vh;
  background-color: #112a5e;
  border-radius: 8px;
  border: solid 1px #264990;
}
.settelment-container {
  width: 15vw !important;
}
.matchstatement-container{
  height: 5vh;
  width: 12vw;
}
