.we-2-call-homepage {
  background-color: #00143d !important;
  padding: 10px 30px;
}
.common-container {
  padding: 1rem;
}
.upcoming-meetings-heading .ant-row {
  border-radius: 5px;
  background-color: #082051;
  padding: 1rem 8px;
  text-align: center;
}
.upcoming-meetings-content .ant-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #082051;
}
.meeting-content {
  height: 54vh;
  overflow-y: scroll;
}
.table-border {
  border: solid 2px rgba(255, 255, 255, 0.11);
  background-color: #00143d;
}
.details-btn {
    color: #ffffff;
    border: solid 2px #264990;
    background-color: #112a5e;
  }
