.tour-cricket {
  height: 47vh;
  display: flex;
  justify-content: space-between;
}
.take-tour {
  background: linear-gradient(to right, #3f5cc2, #5640c6);
  border-radius: 15px;
  border: solid 2px #2b3967;
}
.click-button {
  background: rgb(200, 200, 201);
  border-radius: 5px;
  color: #000000;
}
.cricket-cup {
  background: linear-gradient(to right, #e762e5, #4f64f0);
  border-radius: 15px;
}
.football-cup {
  background: linear-gradient(to right, rgba(253, 221, 52, 1), #fe5e02);
  border-radius: 15px;
}
.casino-tournie {
  background: linear-gradient(to top, rgba(159, 251, 162, 1), #3f8c49);
  border-radius: 15px;
}
.entertain-ment {
  background: linear-gradient(to right, #6d54fa, #64dcf8, #3a68f3);
  border-radius: 15px;
}
.h-100per {
  height: 100%;
}
.like-button,
.intrested {
  height: 50px;
  background: #3542b3;
  border-radius: 25px;
}
.intrested {
  background: linear-gradient(to top, #ffc843, #ff8f17) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intrested2 {
  background: green !important;
}
#black-background {
  background: black !important;
}
.w-60 {
  width: 60%;
}
.banner {
  height: 30vh;
  left: 10%;
  position: relative;
}
.count-container {
  background: #4fa9db;
  width: fit-content;
  border-radius: 25px;
}
.pl-1rem {
  padding-left: 1rem !important;
}
.mid-div {
  position: relative;
  top: 5%;
}
@media (min-width: 1600px) {
  .mid-div {
    position: relative;
    top: 20%;
  }
  .active-head-menu,
  .header-menu {
    height: 4vh;
    align-items: center;
  }
  .header-font {
    font-size: 1.5rem;
  }
}
.tours-main {
  padding-bottom: 5%;
}
.msg-container {
  background: #ffffff;
  border: solid 4px #fce719;
  border-radius: 50px 0px 50px 50px;
  position: fixed;
  bottom: 1%;
  right: 2%;
  align-items: center;
  justify-content: center;
  padding: 14px;
  cursor: pointer;
}
.text-clr {
  color: #000000;
}
.chat-tour-img-icon {
  width: 50px;
  height: 50px;
}
.chat-popup-mesgs {
  float: left;
  width: 100%;
}
.chat-msg_history {
  height: 50vh;
  /* overflow-y: auto; */
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.width-fit-content {
  width: fit-content;
}
.tour-button {
  border: none 4px #2b3967;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(167, 164, 164, 0.2);
}
.clickhere-btn {
  padding: 0px !important;
  color: #4859f7 !important;
  font-weight: bolder;
}
.reject-button {
  background-color: #4d2930;
  border: none;
  border-radius: 5px;
  color: #ff4747;
  padding: 0px !important;
  width: fit-content;
}
.pending-button {
  background-color: #30200c;
  border: none;
  border-radius: 5px;
  color: #f99b2c;
  padding: 0px !important;
  width: fit-content;
}
.approve-button {
  background-color: #36483f;
  border: none;
  border-radius: 5px;
  color: #71dd37;
  padding: 0px !important;
  width: fit-content;
}