.match-share-modal .modal-content,
.match-declaration-modal .modal-content {
  background-color: #00143d;
}
.match-declaration-modal .modal-header,
.match-share-modal .modal-header {
  padding: 5px 15px !important;
  border-bottom: none;
}
.match-share-modal .modal-body {
  padding: 0px;
}
.match-declaration-modal .modal-content {
  width: 60%;
  margin-left: 18%;
}
.h-10vh {
  height: 10vh;
}
.pending-btn {
  color: #ff971c;
  background-color: #302a33;
}
.completed-btn {
  color: #04c85e;
  background-color: #003542;
}
.reject-btn {
  color: #fa3333;
  background-color: #2e1338;
}
