@media (min-width: 577px) and (max-width: 768px) {
  .small-font {
    font-size: 8px;
  }
  .medium-font {
    font-size: 12px;
  }
  .large-font {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .small-font {
    font-size: 10px;
  }
  .medium-font {
    font-size: 14px;
  }
  .large-font {
    font-size: 18px;
  }
}

@media (min-width: 1201px) {
  .small-font {
    font-size: 12px;
  }
  .medium-font {
    font-size: 16px;
  }
  .large-font {
    font-size: 22px;
  }
}
.btn-bg {
  background-color: #112a5e;
}
.trophy-icon {
  color: #eeab05;
}
#scroll-container-btn {
  display: flex;
  width: 85%;
}
#scroll-container-btn::-webkit-scrollbar {
  display: none;
}
.arrow-icon {
  background-image: linear-gradient(to top, #ff6163, #a806f8);
}
.match-details-text {
  font-size: 10px;
  border-radius: 25px;
  background-color: #0a2150;
}
.w-85 {
  width: 85%;
}
.hr-line {
  margin: 0px;
  opacity: 0.1;
  background-color: #fff;
}
.match-position-header {
  background-color: #082051;
}
.share-text-div {
  border-radius: 25px;
  border: solid 2px #395ca4;
  background-color: #112a5e;
}
.yellow-clr {
  color: #fce719;
}
.match-position-table {
  border-radius: 5px;
}
.match-position-table thead {
  background-color: #082051;
  border: solid 1px #112a5e;
}
.match-position-table thead > tr > th {
  padding: 10px;
}
.match-position-table tfoot {
  background-color: #082051;
  border: solid 1px #112a5e;
}
.match-position-table tfoot > tr > th {
  padding: 8px;
}
.match-position-table tbody > tr > td {
  padding: 8px;
}
.match-position-table tbody > tr {
  border: solid 1px #112a5e;
}
