.flex-aline-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-logo {
  border-right: 1px solid grey;
  height: 70%;
  align-items: center;
  display: flex;
  padding-right: 20px;
}
.header-logo img {
  height: 30px;
  margin-left: 20px;
}
.header-menu {
  background: #202d57;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
}
.active-head-menu {
  border: 2px solid #fce719 !important;
  color: #fce719 !important;
  box-sizing: border-box;
}
.head-dropdown {
  background: #202d57 !important;
  width: 180px;
  height: fit-content;
  border-radius: 5px !important;
  padding: 5px !important;
  z-index: 9999;
}
.w-200px {
  width: 200px !important;
}
.head-dropdown div {
  background: #00143d !important;
  padding: 8px;
  width: 90%;
  border-radius: 5px;
  font-size: 12px !important;
  font-weight: 600;
}
.head-dropdown div:hover {
  border: 1px solid #fce719 !important;
  color: #fce719 !important;
}
.match-entry-position {
  position: relative;
  left: 44%;
  bottom: 20%;
}
.report-position {
  position: relative;
  left: 60%;
  bottom: 20%;
}
.more-position {
  position: relative;
  left: 85%;
  bottom: 20%;
}
.header-icons {
  color: white;
  font-size: 18px;
  width: 30px;
  height: 32px;
  background-color: #252e4d;
  border-radius: 8px;
  cursor: pointer;
}
.header-avatar {
  height: 32px;
  width: 30px;
  cursor: pointer;
}
.header-avatar img {
  max-width: 100%;
}
.management-container {
  height: 55vh !important;
  /* background: red; */
}
.scrolling-text {
  background-color: #fce719;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #080c27;
  height: 24px;
  font-family: "Barlow-Regular";
}
.notification-icon {
  width: 24px;
  height: 22px;
  border-radius: 4px;
}
.call-sub-div {
  background: #634beb !important;
  height: 100% !important;
  border-radius: 10px;
  margin: 7px !important;
}
.sports-management {
  height: 100% !important;
  padding: 1.5rem 1.5rem 1.5rem 0.5rem !important;
}
.users-management-container {
  height: 49% !important;
  background: linear-gradient(to right, #e762e5, #4f64f0);
  margin: 7px !important;
  border-radius: 10px !important;
}
.sports-management-container {
  height: 49% !important;
  background: linear-gradient(to right, rgba(237, 110, 159, 1), #ec8b6b);
  margin: 7px !important;
  border-radius: 10px !important;
}
.sports-management-img,
.user-management-img {
  height: 80%;
  margin-left: 1.5rem !important;
}
.arrow {
  padding: 0px 10px !important;
  background: white !important;
  color: #af5bd4;
  width: fit-content;
  border-radius: 20px;
}
/* Custom CSS */
.ant-carousel .slick-dots {
  bottom: 5px;
  left: -80% !important;
}

.ant-carousel .slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 100%;
}

.ant-carousel .slick-dots li.slick-active {
  background-color: #1890ff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
ant-carousel.scrolling-div {
  width: 100% !important;
  height: 100% !important;
  background: red;
}
.clr-red {
  color: red !important;
  background-color: yellow;
}
.create-meeting-text {
  font-size: 15px;
  font-weight: 700;
  font-family: "Barlow-Regular" !important;
}
.meeting-text {
  font-size: 12px;
  font-weight: 500;
  font-family: "Barlow-Regular" !important;
  line-height: 20px;
}
.button-w2c {
  padding: 5px 10px;
  background: #ffffff;
  color: #442cca;
  font-size: 20px;
  width: fit-content;
  font-weight: bold;
  font-family: "Barlow-Regular" !important;
  border-radius: 0px 20px 20px 20px;
}
.call-img {
  height: 80% !important;
}
.upcoming-main-container {
  height: 70vh !important;
  margin: 1.5rem !important;
}
.upcoming-container {
  background: #082051;
  height: 100% !important;
  border-radius: 10px !important;
}
