.match-statement-button {
  background-color: #fce719;
  width: 15vw !important;
  color: black;
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.statement-deactive-button {
  background-color: #112a5e !important;
  color: #ffffff !important;
  width: 15vw !important;
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.matchstatement-container {
  height: 5vh;
  width: 12vw;
}
.placeholder-text {
  color: #8da3d0;
}
.clr-white {
  color: #ffffff;
}
.w-35 {
  width: 35% !important;
}
.w-80 {
  width: 80% !important;
}
.button-container {
  background-color: #112a5e;
  border-radius: 8px;
  border: solid 1px #264990;
  height: 5vh !important;
}
.button-container:hover {
  background-color: #112a5e;
  color: whitesmoke;
  border-color: #112a5e;
  border: solid 1px #264990;
}
.dropdown-item-statement {
  background-color: #112a5e;
  color: white !important;
}
.admin-match-statement input,
.admin-match-statement select,
.admin-match-statement .form-control:focus {
  background-color: var(--input-bg-color);
  color: var(--table-text-color);
  font-family: "Barlow-SemiBold";
  border-color: unset;
  font-size: var(--table-body-font-size);
  border: none;
}
.admin-match-statement .form-select:focus,
.admin-match-statement .form-control:focus {
  border-color: none;
  box-shadow: none;
}
.admin-match-statement label {
  font-size: var(--table-body-font-size);
  font-family: "Barlow-SemiBold";
  margin-bottom: 0.2rem;
}
.match-date-button {
  border: solid 1px rgba(54, 60, 72, 0.5);
  background-color: #112a5e;
}
