.absolute-position-left-top10 {
  position: absolute;
  left: 10%;
}
.select-team-dropdown,
.admin-reports-dropdown {
  box-shadow: 13.6px 21px 27px 0 #020415,
    inset 0px 3px 4px 0 rgba(8, 12, 39, 0.55),
    inset 1.8px 2.4px 172px 0 rgba(44, 53, 116, 0.48);
  border: solid 1px #1b256a;
  background-color: #0c123e;
  height: 100px;
  padding: 5px;
  border-radius: 5px !important;
  overflow-y: scroll;
  z-index: 99999 !important;
  position: relative;
}
.select-team-dropdown-delete {
  box-shadow: 13.6px 21px 27px 0 #020415,
    inset 0px 3px 4px 0 rgba(8, 12, 39, 0.55),
    inset 1.8px 2.4px 172px 0 rgba(44, 53, 116, 0.48);
  border: solid 1px #1b256a;
  background-color: #113070;
  border-radius: 10px !important;
  z-index: 99999 !important;
  position: relative;
  padding: 4px;
}
.select-team-dropdown div,
.select-team-dropdown-delete div,
.admin-reports-dropdown > div {
  border-radius: 10px !important;
  box-shadow: 13.6px 21px 27px 0 #020415,
    inset 0px 3px 4px 0 rgba(8, 12, 39, 0.55),
    inset 1.8px 2.4px 172px 0 rgba(44, 53, 116, 0.48);
  border: solid 2px #1b256a;
  background-color: #082051;
  color: var(--font-color);
  color: var(--font-color);
  font-size: 11px !important;
}
.select-team-dropdown div:hover {
  cursor: pointer;
  border: none;
  border-radius: 10px !important;
  box-shadow: -10px -5px 15px 0 rgba(30, 38, 95, 0.46),
    13.6px 21px 27px 0 #020415;
  background-color: #0c123e;
}
.matches-dropdown {
    width: 11vw !important;
    position: absolute;
    left: 42%;
    top: 90%;
}
.matches-dropdown {
  width: 10vw !important;
  position: absolute;
  left: 43%;
  top: 28%;
}
.fancy-dropdown {
    width: 8vw !important;
    position: absolute;
    left: 58%;
    top: 28%;
}
.clients-dropdown {
  width: 13vw !important;
  position: absolute;
  left: 70%;
  top: 28%;
}
