.match-statement-button {
  background-color: #fce719;
  width: 15vw !important;
  color: black;
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.statement-deactive-button {
  background-color: #112a5e !important;
  color: #ffffff !important;
  width: 15vw !important;
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.matchstatement-container {
  height: 5vh;
  width: 12vw;
}
.placeholder-text {
  color: #8da3d0;
}
.clr-white {
  color: #ffffff;
}
.w-35 {
  width: 35% !important;
}
.w-80 {
  width: 80% !important;
}
.button-container {
  background-color: #112a5e;
  border-radius: 8px;
  border: solid 1px #264990;
  height: 5vh !important;
}
.button-container:hover {
  background-color: #112a5e;
  color: whitesmoke;
  border-color: #112a5e;
  border: solid 1px #264990;
}
.dropdown-item-statement {
  background-color: #112a5e;
  color: white !important;
}
