.match-statement-button {
  background-color: #fce719;
  width: 20vw !important;
  color: black;
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  border: none;
}
.statement-deactive-button {
  background-color: #112a5e !important;
  color: #ffffff !important;
  width: 20vw !important;
  font-weight: 800;
  height: 50px;
  border-radius: 10px;
  border: none;
}
