.p-2rem {
  padding: 1.5rem;
}
.match-header-padding {
  padding: 2rem 1.5rem 1rem 1.5rem;
}
#scroll-container-btn {
  display: flex;
  width: 100%;
}
#scroll-container-btn::-webkit-scrollbar {
  display: none;
}
.arrow-icon {
  height: 25px;
  width: 25px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-image: linear-gradient(to top, #ff6163, #a806f8);
}
.match-div {
  border-radius: 5px;
  background-color: #112a5e;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.active-match-div {
  color: #fce719;
  border: 2px solid #fce719;
}
.trophy-icon {
  color: #eeab05;
  margin-right: 10px;
}
.series-details {
  padding: 10px 5px;
  border-radius: 25px;
  background-color: #0a2150;
}
.match-position-content {
  height: 26vh;
  overflow-y: scroll;
}
.match-position-row .ant-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  border: 1px solid #082051;
}
.red-clr {
  color: #f62a3d;
}
.green-clr {
  color: #04c85e;
}
.yellow-clr {
  color: #fce719;
}
.share-btn {
  padding: 6px 5px;
  border-radius: 25px;
  border: solid 2px #395ca4;
  background-color: #112a5e;
}
.match-position-heading .ant-row {
  border-radius: 5px;
  background-color: #082051;
  padding: 6px;
  text-align: center;
}
.match-position-table .ant-row {
  border-radius: 5px;
  background-color: #082051;
  padding: 12px;
  text-align: center;
}