body {
  background-color: #00143d;
  color: #ffffff;
  height: 100vh;
  box-sizing: border-box;
  /* font-family: "Barlow-Medium";
  font-family: "barlow-semibold";
  font-family: "barlow-regular"; */
  font-family: "Barlow-Regular" !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #082051;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #113070;
  border-radius: 10px;
}
