body {
  background-color: #00143d !important;
  color: #ffffff !important;
}
.font-white {
  color: #ffffff !important;
}
.nav-link {
  color: #ffffff !important;
}
.navbar-toggler {
  background: red !important;
}
.marqu-tag {
  background: #fce719;
  color: #080c27;
}

