.heading {
  font-size: 40px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}
th {
  height: 5vh;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  background-color: #082051 !important;
  color: white !important;
  text-align: center;
}
td {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  height: 5vh;
  text-align: center;
  border: none;
  background: #00143d !important;
  color: white !important;
}
.clr-green {
  color: #04c85e !important;
}

.custom-icon {
  font-size: 30px;
  color: yellow;
}
