.settelment-table {
  width: 100%;
  border: solid 2px rgba(255, 255, 255, 0.11);
  background-color: var(--table-border-color);
  border-radius: 8px;
  --bs-table-color: var(--text-white);
  --bs-table-bg: var(--table-bg-color);
}
.clr-red {
  color: #ff0000 !important;
}
.clr-green {
  color: #04c85e !important;
}
.custom-icon {
  font-size: 30px;
  color: yellow;
}
.clr-yellow {
  color: #fce719;
}
.settelment-container {
  width: 15vw !important;
  background-color: #112a5e;
  border: solid 1px #264990;
}
@media (min-width: 577px) and (max-width: 768px) {
  .xx-large-font {
    font-size: 22px;
  }
  .custom-icon {
    font-size: 10px;
    color: yellow;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .xx-large-font {
    font-size: 25px;
  }
  .custom-icon {
    font-size: 20px;
    color: yellow;
  }
}

@media (min-width: 1201px) {
  .xx-large-font {
    font-size: 30px;
  }
  .custom-icon {
    font-size: 30px;
    color: yellow;
  }
}
.admin-account-summary-container {
  font-family: "Barlow-SemiBold";
  border: var(--admin-summary-bs-border-color) !important;
  background-color: #112a5e;
  font-size: var(--table-body-font-size);
}
.admin-account-summary-container p {
  margin-bottom: 0;
}
.admin-account-summary-container:hover,.admin-account-summary-container:active {
  border: solid 2px #fce719 !important;
}
.call-management-data tfoot tr th {
  background-color: #082051;
  font-size: var(--table-head-font-size);
  font-family: "Barlow-SemiBold";
}
.settlement-file-button {
  --bs-btn-bg: none;
  --bs-btn-padding-x: 0.4rem;
  --bs-btn-padding-y: 0.2rem;
}
